<nav class="navbar navbar-fixed-bottom z-0">
    <!-- Reference: https://www.gethalfmoon.com/docs/navbar#navbar-fixed-bottom -->
    <div class="h-scroll">
    {% for rating in site.documents %}
        {% capture light %}color: #{{ rating.light }};{% endcapture %}
        {% capture dark %}color: #{{ rating.dark }};{% endcapture %}
        <a href="#{{ rating.icon-id }}"><span class="disclosure font-size-24 hidden-dm h-scroll-element" style="{{light}}">{{ rating.icon-id }}-</span><span class="disclosure font-size-24 hidden-lm" style="{{dark}}">{{ rating.icon-id }}-</span></a>
    {% endfor %}
    </div>

    <div class="float-right ml-auto js-required"><button class="btn btn-square rounded-circle float-right ml-auto" type="button" onclick="halfmoon.toggleDarkMode();location.reload()"><span class="hidden-dm">🌑</span><span class="hidden-lm">☀️</span></button></div>
</nav>