<nav class="navbar justify-content-between">
    <!-- Reference: https://www.gethalfmoon.com/docs/navbar -->    
    <div>
        <a href="index.html" class="navbar-brand hidden-xs-and-down">
            <img src="assets/logo.svg" alt="Media Disclosures Logo" class="hidden-lm">
            <img src="assets/logo-dark.svg" alt="Media Disclosures Logo" class="hidden-dm">
        </a>
        <a href="index.html" class="navbar-brand hidden-sm-and-up">
            <img src="assets/logo-small.svg" alt="Media Disclosures Logo" class="hidden-lm">
            <img src="assets/logo-dark-small.svg" alt="Media Disclosures Logo" class="hidden-dm">
        </a>
    </div>

    <div class="navbar-content">
        <ul class="navbar-nav d-md-flex h-scroll">
            {% include navigation.html %}
        </ul>
    </div>
    <div class="navbar-content">
        <span class="navbar-text text-monospace overflow-hidden float-right ml-auto hidden-sm-and-down"><span id="total"></span><span id="currency">aaaa</span></span>
    </div>
</nav>