/* Hide arrow on details elements */
details > summary {
  list-style: none;
}
details > summary::-webkit-details-marker {
  display: none;
}

/* Bottom navigation */
.h-scroll {
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
}

.disclosure {
  display: inline-block;
}

/* Generator */
.hidden[type="checkbox"] {
  width: 0;
  height: 0;
}

.disclosure-select > label {
  filter: saturate(0);
}

.checkable:checked + label {
  filter: saturate(1);
}

/* PWA update toasts */
pwa-update::part(updateToast) {
  z-index: 50;
}