details > summary {
  list-style: none;
}
details > summary::-webkit-details-marker {
  display: none;
}

.h-scroll {
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
}

.disclosure {
  display: inline-block;
}